* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left {
  width: 700px;
  height: 500px;
  object-fit: contain;
  padding: 25px 50px 60px;
  float: left;
}
.right {
  width: 600px;
  height: 400px;
  object-fit: contain;
  padding: 25px 40px 60px;
  float: right;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
footer{
  color: white;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items:middle;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
p {
  text-align: 40px;
  font-size:large;
}

